@{
    ViewBag.Title = "resetpassword";
}

@model arduinoWebProject.Models.login


      @{
    
    Layout="~/Views/Shared/_Layout.cshtml";
    
}
    <!-- nav bar is coompleted here-->
    <div class="container" style="margin-bottom:20px">
    <div class=" row">

        <div class="col-md-7"  style="margin-left:220px">
             
                    <div class ="form-login"   style="margin-left:8%" >
                         @using (Html.BeginForm("reset", "signup", FormMethod.Post))
                            {
                         <h2 style="color:#1c8787">Reset Password</h2>
                                        <P style="color:#808080">
                                    @Html.Label("User Name")
                                    </p>
                                    @Html.TextBoxFor(x => x.uname,new {@class="form-control input-sm chat-input" })
                             @Html.ValidationMessageFor(x=>x.uname)
           
                                    <br/>
                                <p style="color:#808080">@Html.Label("Old Password")</p>
                                            @Html.TextBoxFor(x => x.pwd,new {@class="form-control input-sm chat-input", type="password"})
                @Html.ValidationMessageFor(x=>x.pwd)
                                <br/>
                                    <p style="color:#808080">@Html.Label("New Password")</p>
                                    @Html.ValidationMessageFor(x=>x.pwd)
                                    
                             <input type="password" name="cpwd"class="form-control input-sm chat-input"/>
                             
                                <br/> 
             
          
                                <br/>
                
                                <input id="b1" type="submit" value="Reset Account" style="background-color:#1c8787; color:white;margin-left:50%"/>


                                
                         }

                    </div>
           
                

                
                
                
           
              
            </div>
            
        
        </div>
        
        
    
        </div>
    <!-- page footer -->
 
    






   




